<% if(contacts !="" ) { %>
  <div class="contacts">
    <% contacts.forEach(function(contact, index){ %>
      <form action="/admin/delete_contact/<%= contact._id%>" method="post">
        <div class="admin-card">
          <div class="admin-title">
            <p><span class="name" style="
              font-weight: 600;
          ">Nombre:</span>

              <%= contact.name%>
            </p>

            <p>
              <span class="name" style="
              font-weight: 600;
          ">Curso:</span>

              <%= contact.course%>
            </p>
            <p>
              <span class="name" style="
              font-weight: 600;
          ">Email:</span>

              <%= contact.email%>
            </p>
            <p>
              <span class="name" style="
              font-weight: 600;
          ">Teléfono:</span>

              <%= contact.phone%>
            </p>
          </div>
          <div class="delete-admin-button">
            <button type="submit"> Eliminar
            </button>
          </div>
        </div>
      </form>


      <% })%>
  </div>

  <% } else { %>
    <div class="no-messages">
      <p>No hay mensajes..</p>
    </div>
    <% }%>