<div class="welcome-modal-container" hidden>
  <div class="welcome-modal-window">
    <div class="welcome-modal-elements">
      <div class="welcome-modal-h">
        <h1>¡Hola! Te doy la bienvenida</h1>
      </div>
      <div class="welcome-modal-p">
        <p>Para comenzar a explorar el sitio resetea la base de datos para iniciarlo desde 0</p>
        <p>
          Si lo que deseas es usarlo como administrador y publicar posts en el blog, encontrarás el enlace <i
            class="highlighted-green">Ingresar
            como administrador</i> en el pie de página, allí deberás hacer login con el <b>username: admin</b> y con el
          <b>password: admin</b>
        </p>
        <p>¡Muchas gracias y que disfrutes la experiencia! ¡Saludos!</p>
        <p>Martín</p>
      </div>
      <div class="welcome-modal-button">
        <form action="/reset_database" method="POST">
          <button class="reset-database-button">Reiniciar Base de Datos</button>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="banner" style="
background-image: url(/img/banner.jpg);
">
  <div class="banner-container">
    <div class="index-page-banner-title">
      <p>
        DELLA PIETRA <br />
        <span class="highlighted-green">ESPACIO MULTIARTE</span>
      </p>
    </div>
    <!--     <div class="button-container ceramic-course-button-container">
      <form action="/curso_de_ceramica" method="get">
        <button type="submit">EMPIEZA YA!</button>
      </form>
    </div> -->
  </div>
</section>
<section class="our-courses-container">
  <div class="our-courses">
    <div class="our-courses-title">
      <p>NUESTROS <span class="highlighted-green">TALLERES</span></p>
    </div>
    <div class="our-courses-courses">
      <a href="/curso_de_ceramica">
        <div class="course ceramic-course">
          <div class="course-title">
            <p>APRENDE</p>
            <h1>Cerámica & Alfarería</h1>
          </div>
        </div>
      </a>
      <a href="/curso_de_yoga">
        <div class="course yoga-course">
          <div class="course-title">
            <p>DESCUBRE</p>
            <h1>Hatha Yoga</h1>
          </div>
        </div>
      </a>
      <a href="/curso_de_pintura">
        <div class="course painting-course">
          <div class="course-title">
            <p>EXPLORA</p>
            <h1>Arte & Pintura</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<div class="our-blog-container">
  <div class="our-blog">
    <div class="our-blog-title">
      <p>NUESTRO <span class="highlighted-green">BLOG</span></p>
    </div>
    <div class="our-blog-articles">


      <% if(posts !="" ) { %>
        <% posts.latestPosts.forEach(function(post, index){ %>

          <div class="article article-home">
            <div class="article-img">
              <img src="<%= post.image%>" alt="" />
            </div>
            <div class="article-text">
              <div class="article-title">
                <p>
                  <%= post.title%>
                </p>
              </div>
              <div class="article-description">
                <p>
                  <%= post.description.substring(0, 150) %>...
                </p>
              </div>
            </div>
            <div class="article-footer">
              <div class="article-date"><small>
                  <%= post.created%>
                </small></div>
              <div class="article-button">
                <small>
                  <a href="/post/<%= post._id%>">Leer ></a>
                </small>
              </div>
            </div>
          </div>
          <% })%>
            <% } else { %>
              <p>No items found</p>
              <% } %>
    </div>
    <div class="button-container">
      <form action="/nuestro_blog/1" method="GET">
        <button type="submit">Ver todas las entradas</button>
      </form>
    </div>
  </div>
</div>
<section class="who-we-are-container">
  <div class="who-we-are">
    <div class="who-we-are-title">
      <p>QUIENES <span class="highlighted-green">SOMOS</span></p>
    </div>
    <div class="button-container">
      <form action="/quienes_somos" method="get">
        <button type="submit">DESCUBRELO AQUI</button>

      </form>
    </div>
  </div>
</section>
<section class="contact-form-container">
  <div class="contact-form" id="formulario_de_contacto">
    <div class="contact-form-title">
      <p>CONTACTA <span class="highlighted-green">CON NOSOTROS</span></p>
    </div>
    <div class="contact-form-form">

      <form action="/enviar_formulario" method="POST">
        <input type="text" name="name" placeholder="Nombre*" />
        <input type="email" name="email" placeholder="Email*" />
        <input type="number" name="phone" placeholder="Teléfono" />
        <input type="text" name="course" value="No especificado" hidden />
    </div>
    <div class="button-container">
      <button type="submit">ENVIAR</button>
    </div>
    </form>
    <% if (errorMessage[0] !==undefined) {%>
      <div class="errorMessage_container">
        <div class="errorMessage">
          <p>
            <%= errorMessage %>
          </p>
        </div>

      </div>

      <% } %>
  </div>
</section>